@model Questions_Dropdown.Models.Questions

@{
    var collapseId = $"collapse{Model.Id}";
}

<div class="row margin-bottom-8px">
    <div class="col-md-6">
        <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="collapseExample" onclick="handleCollapse('@collapseId')">
            @Model.Question
        </button>
    </div>

    <div class="col-md-6">
        <div class="collapse" id="@collapseId">
            <div class="card card-body">
                @foreach (var line in Model.Answer.Split(new[] { "\r\n" }, StringSplitOptions.None))
                {
                    <p>@line</p>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function handleCollapse(activeId) {
        const collapseElements = document.querySelectorAll('.collapse');

        collapseElements.forEach(element => {
            if (element.id !== activeId) {
                const bsCollapse = new bootstrap.Collapse(element, {
                    toggle: false
                });
                bsCollapse.hide();
            }
        });
    }
</script>

