<h1>Cats</h1>
<div>Hello</div>


<form action="/cats/search" method="post">
    First name: <input type="text" name="FirstName" /> <br />
    Last name: <input type="text" name="LastName" /> <br />
    Age: <input type="number" name="Age" /> <br />
    <input type="submit" />
</form>