@model Questions_Dropdown.Models.Questions

@{
    var collapseId = $"collapse{Model.Id}";
}

<div class="col-md-6 margin-bottom-8px">
    <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="collapseExample">
        @Model.Question
    </button>

    <div class="collapse" id="@collapseId">
        <div class="card card-body">
            @foreach (var line in Model.Answer.Split(new[] { "\r\n" }, StringSplitOptions.None))
            {
                <p>@line</p>
            }
        </div>
    </div>
</div>