@model IEnumerable<Questions_Dropdown.Models.Questions>


<div class="row">

    <h3 class="margin-top-5px">.NET</h3>

    @foreach (var question in Model.Where(q => q.Topic == ".NET"))
    {
        <partial name="_Question.Partial", model="question") />
    }

    <h3 class="margin-top-5px">JS</h3>

    @foreach (var question in Model.Where(q => q.Topic == "JS"))
    {
        <partial name="_Question.Partial" , model="question" ) />
    }

    <h3 class="margin-top-5px">HTML/CSS</h3>

    @foreach (var question in Model.Where(q => q.Topic == "HTML/CSS"))
    {
        <partial name="_Question.Partial" , model="question" ) />
    }

    <h3 class="margin-top-5px">DB</h3>

    @foreach (var question in Model.Where(q => q.Topic == "DB"))
    {
        <partial name="_Question.Partial" , model="question" ) />
    }
</div>