@model IEnumerable<Questions_Dropdown.Models.Questions>

@foreach (var question in Model)
{
    var collapseId = $"collapse{question.Id}";

    <div class="margin-bottom-8px">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="collapseExample">
            @question.Text
        </button>

        <div class="collapse" id="@collapseId">
            <div class="card card-body">
                @Html.Raw(question.Answer)
            </div>
        </div>
    </div>
}
